package templates

import (
	"github.com/drkgrkn/cv/cv"
)

templ CV(cv cv.CV) {
	<div>{ cv.Name }</div>
	<div>{ cv.Occupation }</div>
	<div>
		@SvgPhone()
		{ cv.Contact.Phone }
	</div>
	<div>
		@SvgEmail()
		{ cv.Contact.Email }
	</div>
	<div>
		@SvgGitHub()
		{ cv.Contact.Github }
	</div>
	<div>
		@SvgLinkedIn()
		{ cv.Contact.LinkedIn }
	</div>
}
